.myworkmaincontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.myworkwrapper {
  width: 80%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 100px;
}
.header2 {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.myworkline {
  margin-left: 70px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(190, 255, 217);
  margin-top: 50px;
  position: relative;
}
.myworkline::after {
  content: "";
  background: linear-gradient(90deg, rgb(0, 132, 255), rgb(0, 255, 200));
  position: absolute;
  width: 100px;
  height: 6px;
  border-radius: 5px;
  left: 20px;
  z-index: 2;
  top: -20px;
}
.allmyworkwrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
  background-color: transparent;
}

.myworkcard {
  width: 300px;
  min-height: 250px;
  background-color: rgba(255, 255, 255, 0.027);
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imageTitle {
  font-size: 25px;
  padding-left: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  color: rgb(195, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.23) 0px 5px -15px;

  background-color: rgba(23, 22, 44, 0.87);
}
.imageinfo-wrapper .imageTitle {
  transition: all 0.5s ease-in-out;
}
.imageinfo-wrapper:hover .imageTitle {
  padding-left: 30px;
  transition: all 0.5s ease-in-out;
}
.descriptionbg {
  color: rgb(195, 255, 255);
  padding: 0px 10px;
  padding-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(23, 22, 44, 0.87);
}
.cardImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 0px;
  position: absolute;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}
.myworkcard:hover .cardImage {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.imageinfo-wrapper {
  width: auto;
  min-height: 200px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  box-shadow: rgba(0, 0, 1, 2) 0px 5px 15px;

  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}
.imageinfo-wrapper:hover {
  width: auto;
  min-height: 200px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.projectName {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 20;
  padding: 10px 20px;
  font-weight: bold;
  color: black;
  font-family: "Ubuntu", sans-serif;
}
.projectName::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.techused {
  border: 1px solid rgba(90, 98, 133, 0.363);
}
.techused ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: rgb(190, 255, 217);
}
.techused li {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  padding-right: 10px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.projdescription {
  font-size: 15px;
  padding: 2px 10px;
  color: rgba(190, 255, 217, 0.425);
}
.projdescription {
  border: 1px solid rgba(90, 98, 133, 0.363);
}
.projvisit {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.linkbtn2 {
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: rgba(207, 247, 235, 0.993);
  background: transparent;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.linkbtn2:hover {
  color: rgba(156, 247, 194, 0.993);
}
@media screen and (max-width: 1030px) {
  .myworkline {
    margin-left: 0px;
  }
  .allmyworkwrapper {
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .techmaincontainer {
    margin-top: 80px;
  }
  .myworkcard {
  }
}
